body{
    background-color: beige;
    align-items: center;
    justify-content: center;
}

.container{
background-color: white;
align-items: center;
text-align: center;
justify-content: center;
width :60%;
}

.container img{
    height: 300px;
    width: auto;
}